html, body {
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: normal normal medium noto-sans-cjk-kr, sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
	-webkit-appearance:none;
}
input[type="search"] {
	-webkit-appearance: none;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.back-link {
	position: absolute;

	top: 36px;
	left: 52px;

	text-align: left;
	font: normal normal 900 24px/36px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #000000;
	opacity: 1;
}

.back-link:visited {
	color: #000000;
}


.form-title {
	text-align: left;
	width: 100%;
	margin: 0 337px 132px 0;
	font: normal normal 500 48px/84px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #000000;
	opacity: 1;
}

.form-general {
	position: relative;

	display: flex;
	align-items: center;

	width: fit-content;
}

.form-input {
	background: #FFFFFF 0 0 no-repeat padding-box;
	border: 3px solid #707070;
	opacity: 1;
	margin: 0;

	text-align: left;
	font: normal normal 500 42px/72px noto-sans-cjk-kr;
	letter-spacing: 6px;
	color: #000000;
}

.form-input[type="number"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form-input:invalid {
	border: 3px solid #FF0000;
	opacity: 1;
}

.form-input:valid {
	border: 3px solid #707070;
	opacity: 1;
}

.form-input:focus {
	color: #348AFD;
	border: 3px solid #348AFD;
	outline: none;
}

.form-input::placeholder {
	color: #CDCDCD;
}

.form-button-pair {
	display: flex;
	align-content: center;
	width: fit-content;
	height: 158px;
}

.form-button-main {
	margin-right: 60px;
	height: 158px;
	white-space: pre-wrap;

	background: #348AFD 0 0 no-repeat padding-box;
	border-radius: 10px;
	opacity: 1;

	flex-grow: 0;
	flex-shrink: 0;

	text-align: center;
	font: normal normal 500 36px/36px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #FFFFFF;
}

.form-button-main:hover {
	background: #579BF8;
}

.form-button-sub {
	height: 158px;
	white-space: pre-wrap;

	background: #FFFFFF00 0 0 no-repeat padding-box;
	border: 3px solid #348AFD;
	border-radius: 10px;
	opacity: 1;

	flex-grow: 0;
	flex-shrink: 0;

	text-align: center;
	font: normal normal 500 36px/36px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #348AFD;
}

.form-button-sub:hover {
	background: #E0EBFF;
	border: 3px solid #348AFD;
}

.form-button-group {
	width: 1333px;

	display: flex;
	align-items: center;
}

.form-button-group-button {
	height: 158px;
	width: 100%;
	flex-grow: 1;

	background: #EFEFEF 0 0 no-repeat padding-box;
	border: none;
	border-radius: 10px;
	opacity: 1;

	text-align: center;
	font: normal normal 500 36px/140px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #000000;
}

.form-button-group-button:hover {
	background: #E2E2E2;
}

.form-button-group-button-selected {
	background: #348AFD 0 0 no-repeat padding-box;
	border: none;
	color: #FFFFFF;
}

.form-number {
	display: flex;
	position: relative;
	width: fit-content;
	align-items: center;
}

.form-number-label-l {
	height: fit-content;

	margin-right: 72px;
	text-align: left;
	font: normal normal 500 42px/42px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #000000;
	opacity: 1;
}

.form-number-label-r {
	height: fit-content;
	position: absolute;
	left: 100%;
	margin-left: 24px;
	text-align: left;
	font: normal normal 500 42px/42px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #000000;
	opacity: 1;
}

.form-group-horizontal {
	display: flex;
	align-items: center;
}

.form-group-vertical {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form-textarea {
	width: 1333px;
	height: 488px;

	text-align: left;
	font: normal normal 500 36px/72px noto-sans-cjk-kr;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.form-textarea:valid {
	border: 2px solid #707070;
	opacity: 1;
}

.form-textarea:focus {
	color: #348AFD;
}

.form-textarea::placeholder {
	color: #CDCDCD;
}

.form-review-title {
	margin-bottom: 76px;

	text-align: left;
	font: normal normal 500 32px/58px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #000000;
}

.form-review-mark {
	background: none;
	font-weight: bold;
	color: #348AFD;
}

.form-review-form {
	margin: 6px 0;

	display: flex;
	align-content: center;
	background: #F7F7F7 0 0 no-repeat padding-box;
	border-radius: 10px;

	width: 1333px;
	height: 81px;
}

.form-review-form:focus-within input {
	background: #FFFFFF 0 0 no-repeat padding-box;
	border: 3px solid #348AFD;
	border-radius: 0;
	opacity: 1;

	text-align: left;
	font: normal normal bold 28px/72px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #348AFD;
}

.form-review-form:focus-within label {
	background: #FFFFFF;
}

.form-review-form:focus-within button {
	display: block;

}

.form-review-form:hover {
	background: none;
	background: #E0EBFF 0 0 no-repeat padding-box;
}

.form-review-label {
	width: 270px;
	height: 81px;
	box-sizing: border-box;

	padding: 20px 36px;

	flex-grow: 0;
	flex-shrink: 0;

	background: inherit;
	border-radius: 5px 0 0 5px;

	text-align: left;
	font: normal normal normal 28px/38px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #000000;
	opacity: 1;
}

.form-review-label-disabled {
	color: #707070;
}

.form-review-input {
	height: 100%;

	background: inherit;
	border: none;
	border-radius: 0 10px 10px 0;

	opacity: 1;
	flex-grow: 1;

	text-align: left;
	font: normal normal bold 28px/72px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #000000;
}
.form-review-input:focus {
	outline: none;
}

.form-review-input:disabled {
	color: #CDCDCD;
	opacity: 1;
}

.form-review-submit-button {
	display: none;

	width: 167px;
	height: 100%;

	text-align: center;
	font: normal normal 500 24px/24px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #FFFFFF;
	opacity: 1;

	flex-grow: 0;
	flex-shrink: 0;

	background: #348AFD 0 0 no-repeat padding-box;
	border: 2px solid #348AFD;
	border-radius: 0 10px 10px 0;
}

.form-review-button-pair {
	margin-top: 132px;
	display: flex;
	align-content: center;
	width: fit-content;
	height: 158px;
}

.form-review-button-main {
	margin-right: 60px;
	white-space: pre-wrap;

	background: #348AFD 0 0 no-repeat padding-box;
	border-radius: 10px;
	opacity: 1;

	height: 158px;

	flex-grow: 0;
	flex-shrink: 0;

	text-align: center;
	font: normal normal 500 36px/36px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #FFFFFF;
}

.form-review-button-main:hover {
	background: #579BF8;
}

.form-review-button-sub {
	background: #FFFFFF00 0 0 no-repeat padding-box;
	border: 3px solid #348AFD;
	border-radius: 10px;
	opacity: 1;

	height: 158px;

	flex-grow: 0;
	flex-shrink: 0;

	text-align: center;
	font: normal normal 500 60px/60px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #348AFD;
}

.form-review-button-sub:hover {
	background: #E0EBFF;
}

.scroll-button-wrapper {
	width: fit-content;
	height: fit-content;

	position: absolute;

	left: 0;
	right: 0;
	margin: auto;

	display: flex;
	align-items: center;
	justify-content: center;
}

.scroll-container {
	opacity: 0.6;
	cursor: pointer;
}

.scroll-container:hover {
	opacity: 1;
}

.scroll-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.scroll-text {
	margin: 16px 0;

	text-align: center;
	font: normal normal 500 18px/27px noto-sans-cjk-kr;
	letter-spacing: 0;
	color: #000000;
	opacity: inherit;
}

.scroll-button-b {
	display: block;
	height: 14px;
	width: 0;
	margin: 0 4px;

	border: 1px solid #000000;
	opacity: inherit;

	transform: rotate(135deg);
}

.scroll-button-a {
	display: block;
	height: 14px;
	width: 0;
	margin: 0 4px;

	border: 1px solid #000000;
	opacity: inherit;

	transform: rotate(45deg);
}

.tooltip-mark {
	background: none;
	font-weight: inherit;
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

[data-tooltip] {
	position: relative;
	z-index: 2;
	display: block;
}

[data-tooltip]:before,
[data-tooltip]:after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: .2s ease-out;
	transform: translate(-50%, 5px)
}

[data-tooltip]:before {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	padding: 28px 40px;
	width: 100%;
	min-width: 70px;
	max-width: 400px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 10px;

	background: #348AFD 0 0 no-repeat padding-box;
	box-shadow: 0 0 30px #348AFD4D;
	content: attr(data-tooltip);
	white-space: pre-wrap;
	text-align: center;
	transition: .2s ease-out;

	font: normal normal 500 24px/44px Noto Sans CJK KR;
	letter-spacing: 0;
	color: #FFFFFF;
	opacity: 1;
}

[data-tooltip]:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: 0;
	border-top: 5px solid #348AFD;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, 0)
}
[data-tooltip=false]:hover:before,
[data-tooltip=false]:hover:after {
	visibility: hidden;
	opacity: 0;
}